{% load i18n %}{% autoescape off %}
{% blocktranslate %}You're receiving this email because you requested a password reset for your user account.{% endblocktranslate %}
<br>
{% translate "Please click on the following link and choose a new password:" %}
<br>
<a href="https://legacy-Lobotomy-be.com/password-reset-confirm/{{uid}}/{{token}}/">https://legacy-lobotomy-be.com/password-reset-confirm/{{uid}}/{{token}}/</a>
<br>
{% translate 'Your email, in case you’ve forgotten:' %} {{ user.get_username }}
<br>
{% translate "Thanks for using our site!" %}
{% endautoescape %}