{% load i18n %}{% autoescape off %}
{% blocktranslate %}You're receiving this email because you requested a password reset for your user account.{% endblocktranslate %}

{% translate "Please click on the following link and choose a new password:" %}
{% block reset_link %}
{{ protocol }}://{{ domain }}/password-reset-confirm/{{uid}}/{{token}}/
{% endblock %}
{% translate 'Your email, in case you’ve forgotten:' %} {{ user.get_username }}

{% translate "Thanks for using our site!" %}

{% endautoescape %}
